<div>
  <ul>
    <li><a href="/sign-out">Sign Out</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="/admin_management">Admin Management</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
  </ul>
</div>
<br />
<div class="jumbotron">
  <div class="container">
    <h2>Administrator Management</h2>
  </div>
</div>

<div class="col-md-3 container">
  <div class="row">
    <h2 align="center">Find User</h2>
    <p>Search for a user profile by entering their email below</p>
  </br>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" id="userSearch" placeholder="Search for user...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="userSearch()">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
<div class="row">
  <div class-"col-lg-12">
    <button class="btn btn-primary btn-large btn-block" type="button" id="createUser" onclick="createUserButton()">Create User</button>
  </div>
</div>
</div>

<div class="col-md-9 well">
  <form action="/user" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName" class="col-form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" disabled=true>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName" class="col-form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" disabled=true>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email" class="col-form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" disabled=true>
      </div>
      <div class="form-group col-md-6">
        <label for="password" class="col-form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" disabled=true>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Administrator?</label>
        <div class="form-check">
          <input class="form-check-input" name="isAdmin" type="radio" value="yes" id="isAdminYes" disabled=true>
          <label class="form-check-label" for="defaultCheck1">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="isAdmin" type="radio" value="no" id="isAdminNo" disabled=true>
          <label class="form-check-label" for="defaultCheck1">No</label>
        </div>
      </div>
      <div class="form-group col-md-9">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Add/Update Signiture</b></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="signatureFile">
            <!-- <label class="custom-file-label" for="signatureFile">Choose file</label> -->
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button class="btn btn-default" type="button" onclick="submitForm()" id=submitButton disabled=true>Save</button>
        <button class="btn btn-default" type="button" id="editButton" onclick="editToggledOn()" disabled=true>Edit</button>
        <button class="btn btn-default"  type="button" id="cancelEditButton" onclick="cancelEdit()" disabled=true>Cancel</button>
        <button class="btn btn-danger pull-right" type="button" id="deleteButton" onclick="deleteUserProfile()" disabled=true>Delete Profile</button>
      </div>
    </div>
  </form>
  <div class="col-sm-12">
    <div class="alert alert-success" id="success-alert" hidden=true>
      <strong>Success!</strong>
    </div>
  </div >
</div>
</div>

<script>
function userSearch(){
  var userEmail = document.getElementById("userSearch");
  if(userEmail.value != ""){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        console.log(JSON.parse(xhttp.responseText));
        json = JSON.parse(xhttp.responseText)[0];
        populateFormDisabled(json);

        enableEditButton();
        enableDeleteButton();
        disableSubmitButton();
      }
    };
    xhttp.open("GET", "/user/"+userEmail.value, true);
    xhttp.send();
  }
}

function submitForm() {
  disableSubmitButton();

  var type;
  if((document.getElementById("isAdminYes")).selected === true) {
    type = "admin";
  } else {
    type = "user";
  }

  formData = {
    "firstName" : (document.getElementById("firstName")).value,
    "lastName" : (document.getElementById("lastName")).value,
    "email" : (document.getElementById("email")).value,
    "password" : document.getElementById("password").value,
    "type" : type
  };

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if(this.readyState == 4 && this.status == 200) {
      console.log("Successfully added/updated user!")
      disableFormInputs();
      enableEditButton();
      alertSuccess();
    }
  };
  xhttp.open("POST", "/user");
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(formData));
}

function createUserButton(){
  enableSubmitButton();
  disableDeleteButton();
  disableEditButton();
  enableCancelEditButton();
  enableFormInputs();
  document.getElementById("email").disabled = false;

  clearAllInputs();

}

function deleteUserProfile() {
  disableDeleteButton();

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if(this.readyState == 4 && this.status == 200) {
      console.log("Successfully deleted user!")
      enableFormInputs();
      disableEditButton();
      alertSuccess();
    }
  };

  data = {
    "email" : (document.getElementById("email")).value
  };

  xhttp.open("DELETE", "/user");
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(data));
}

// help from https://stackoverflow.com/questions/23101966/bootstrap-alert-auto-close
function alertSuccess() {
  $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
  });
}

function editToggledOn() {
  enableSubmitButton();
  enableCancelEditButton();
  disableEditButton();

  enableFormInputs();
}

function cancelEdit() {
  disableSubmitButton();
  enableEditButton();
  disableCancelEditButton();

  disableFormInputs();
}

function populateFormDisabled(json){
  document.getElementById("firstName").value = json.employee_first_name;
  document.getElementById("lastName").value = json.employee_last_name;
  document.getElementById("password").value = json.employee_password;
  document.getElementById("email").value = json.employee_email;

  if (json.employee_type == "admin") {
    document.getElementById("isAdminYes").checked = true;
  } else {
    document.getElementById("isAdminNo").checked = true;
  }
  disableFormInputs();
}

function clearAllInputs() {
  document.getElementById("firstName").value = "";
  document.getElementById("lastName").value = "";
  document.getElementById("password").value = "";
  document.getElementById("email").value = "";
  document.getElementById("isAdminNo").checked = true;
}

function disableFormInputs() {
  document.getElementById("firstName").disabled = true;
  document.getElementById("lastName").disabled = true;
  document.getElementById("password").disabled = true;
  document.getElementById("email").disabled = true;
  document.getElementById("isAdminYes").disabled = true;
  document.getElementById("isAdminNo").disabled = true;
}

function enableFormInputs() {
  document.getElementById("firstName").disabled = false;
  document.getElementById("lastName").disabled = false;
  document.getElementById("password").disabled = false;
  document.getElementById("isAdminYes").disabled = false;
  document.getElementById("isAdminNo").disabled = false;
}

function enableCancelEditButton() {
  document.getElementById("cancelEditButton").disabled = false;
}

function disableCancelEditButton() {
  document.getElementById("cancelEditButton").disabled = true;
}

function disableDeleteButton() {
  document.getElementById("deleteButton").disabled = true;
}

function enableDeleteButton() {
  document.getElementById("deleteButton").disabled = false;
}

function enableEditButton() {
  document.getElementById("editButton").disabled = false;
}

function disableEditButton() {
  document.getElementById("editButton").disabled = true;
}

function disableSubmitButton() {
  document.getElementById("submitButton").disabled = true;
}

function enableSubmitButton() {
  document.getElementById("submitButton").disabled = false;
}

</script>
