<div class="task">
<ul>
    <li><a href="/sign-out">Sign Out</a></li>


</ul>
</div>
<!-- Much help from: https://www.taniarascia.com/what-is-bootstrap-and-how-do-i-use-it/ -->
<h2>Welcome back {{this.employee_first_name}}!</h2>
<div class="jumbotron">
	<div class="container">
		<h2>Site Administration</h2>
		<p>Add/Edit/Remove administrator and user accounts.</p> <p>Create and delete departments within the company.</p> <p>Leverage analytics to reveal trends.</p>
	</div>
</div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h3>Admin Management</h3>
        <p> Add, Remove or Edit Administrator and User accounts.</p>
        <a class="btn btn-primary btn-lg" href="/admin_management" role="button">Go</a>
      </div>

      <div class="col-md-4">
        <h3>Department Management</h3>
        <p> Add or Remove Departments</p>
        <a class="btn btn-primary btn-lg" href="/department_management" role="button">Go</a>
      </div>

      <div class="col-md-4">
        <h3>Analytics</h3>
        <p>Discover interesting trends and surface usage information pertaining to the website.</p>
        <a class="btn btn-primary btn-lg" href="/business_analytics" role="button">Go</a>
      </div>

    </div>
  </div>
