<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart', 'calendar']});

  // Set a callback to run when the Google Visualization API is loaded.
  // google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  </script>
</head>


<div class="jumbotron">
  <div class="container">
    <h2>Business Analytics</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="chartRow">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>Accounts</h3>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" id="adminVsUser">Admin Vs User Count
          <span class="badge badge-primary badge-pill">Pie</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action" id="userProfilesCreatedOn">Profiles Created by Day
          <span class="badge badge-primary badge-pill">Calendar</span>
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>Awards</h3>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" id="awardTypeComparison">Count by Award Type
          <span class="badge badge-primary badge-pill">Pie</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action" id="awardsPerDay">Awards Created Per Day
          <span class="badge badge-primary badge-pill">Calendar</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action" id="topThreeCreators">Top 3 Award Creators
          <span class="badge badge-primary badge-pill">Bar</span>
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>Departments</h3>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" id="byDepartmentAll">All User Types By Department
          <span class="badge badge-primary badge-pill">Pie</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action" id="byDepartmentUser">Normal Users By Department
          <span class="badge badge-primary badge-pill">Pie</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action" id="byDepartmentAdmin">Admin Types By Department
          <span class="badge badge-primary badge-pill">Pie</span>
        </button>
      </div>
    </div>
  </div>
</div>


<script>
function drawChart(title, data) {
  // Set chart options
  var options = {'title': title,
  'width':500,
  'height':400};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chartRow'));
  chart.draw(data, options);
}

function drawBarChart(title, data) {
  // Set chart options
  var options = {'title': title,
  'width':700,
  'height':400};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.BarChart(document.getElementById('chartRow'));
  chart.draw(data, options);
}

function drawCalendar(title, data) {
var calHeight;
  if(title === 'Awards Per Day') {
    calHeight = 170 * 8;
  }
  else {
    calHeight = 180;
  }
  var options = {'title': title,
  height: calHeight,
  noDataPattern: {
    backgroundColor: '#87b574',
    color: '#dff0d8'
  }
};

  var chart = new google.visualization.Calendar(document.getElementById('chartRow'));
  chart.draw(data, options);
}


document.getElementById("adminVsUser").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=userType').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawChart("Admin Vs User", buildAdminVsUser(json));
    });
  });
});

function buildAdminVsUser(chartInfo) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Employee Type');
  data.addColumn('number', 'Count');

  for(var row in chartInfo.rows) {
    var thisRow = chartInfo.rows[row];
    data.addRow([thisRow.employee_type, parseInt(thisRow.count)]);
  }
  return data;
}

document.getElementById("byDepartmentAll").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=userByDepartment&scope=all').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawChart("All Users By Department", buildUserByDepartment(json));
    });
  });
});

document.getElementById("byDepartmentUser").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=userByDepartment&scope=user').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawChart("Users By Department", buildUserByDepartment(json));
    });
  });
});

document.getElementById("byDepartmentAdmin").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=userByDepartment&scope=admin').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawChart("Admins By Department", buildUserByDepartment(json));
    });
  });
});

function buildUserByDepartment(chartInfo) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Department Name');
  data.addColumn('number', 'Count');

  for(var row in chartInfo.rows) {
    var thisRow = chartInfo.rows[row];
    data.addRow([thisRow.department_name, parseInt(thisRow.count)]);
  }
  return data;

}

document.getElementById("userProfilesCreatedOn").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=createdOnDays').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawCalendar("Profiles Created Per Day", buildProfilesCreatedOn(json));
    });
  });
});

function buildProfilesCreatedOn(chartInfo) {
  var data = new google.visualization.DataTable();
  data.addColumn({ type: 'date', id: 'Date' });
  data.addColumn({ type: 'number', id: 'Count' });

  for(var row in chartInfo.rows) {
    var thisRow = chartInfo.rows[row];
    data.addRow([new Date(thisRow.y, parseInt(thisRow.m)-1, thisRow.d), parseInt(thisRow.count)]);
  }
  return data;
}

document.getElementById("awardTypeComparison").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=awardsByType').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawChart("Awards By Type", awardsByType(json));
    });
  });
});

function awardsByType(chartInfo) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Award Type');
  data.addColumn('number', 'Count');

  for(var row in chartInfo.rows) {
    var thisRow = chartInfo.rows[row];
    data.addRow([thisRow.award_name, parseInt(thisRow.count)]);
  }
  return data;
}


document.getElementById("awardsPerDay").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=awardsPerDay').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawCalendar("Awards Per Day", awardsPerDay(json));
    });
  });
});


function awardsPerDay(chartInfo) {
  var data = new google.visualization.DataTable();
  data.addColumn({ type: 'date', id: 'Date' });
  data.addColumn({ type: 'number', id: 'Count' });

  for(var row in chartInfo.rows) {
    var thisRow = chartInfo.rows[row];
    data.addRow([new Date(thisRow.y, parseInt(thisRow.m)-1, thisRow.d), parseInt(thisRow.count)]);
  }
  return data;
}

document.getElementById("topThreeCreators").addEventListener("click", function() {
  fetch('business_analytics/query?queryName=topThreeCreators').then(function(response){
    response.json().then(function(json){
      console.log(json);
      drawBarChart("Top 3 Creators", topThreeCreators(json));
    });
  });
});

function topThreeCreators(chartInfo) {
    var tempArr = [];
    tempArr.push(["Name", "Awards", { role: "style" }]);
    tempArr.push([chartInfo.rows[0].creator, parseInt(chartInfo.rows[0].count), "blue"]);
    tempArr.push([chartInfo.rows[1].creator, parseInt(chartInfo.rows[1].count), "red"]);
    tempArr.push([chartInfo.rows[2].creator, parseInt(chartInfo.rows[2].count), "green"]);


  var data = google.visualization.arrayToDataTable(tempArr);

return new google.visualization.DataView(data);
}

</script>
