<div class="background">
    <h1>Welcome back to Employee Recognition Awards! {{user.userFirstName}}!</h1>
    <br>
    <h3>What would you like to do?</h3>
    <br>
    <br>
    <a class="btn btn-default" href="/create-awards">Create Award</a>
    <br>
    <br>
    <br>
    <a class="btn btn-default" href="/user-edit-profile">Edit My Profile</a>
    <br>
    <br>
    <br>
    <a class="btn btn-default" href="/user-delete-award">Delete My Award History</a>
    <br>
    <!--
    {{#if user.organizationId}}
        <a class="btn btn-default" href="/animals">View Your Animals</a>
        <a class="btn btn-default" href="/animals/new">Add New Animal</a>
    {{/if}}
    <br>
    {{#if user.profileId}}
        <a class="btn btn-default" href="/animals/search">Create Award</a>
<a class="btn btn-default" href="/animals/search">Edit My Profile</a>
    {{/if}}
        -->

</div>