<ul>
    <li><a href="/sign-out">Sign Out</a></li>
    <li><a href="/create-awards">Create Award</a></li>
    <li><a href="/user-edit-profile">Edit Profile</a></li>
    <li><a href="/user-delete-award">My Awards History</a></li>
</ul>


    <h1>Welcome back {{this.employee_first_name}}!</h1>
  
    <br>
    <h3>What would you like to do?</h3>
    <br> 
    <br>
    <a class="btn btn-default" href="/create-awards">Create Award</a>
    <br>
    <br>
    <br> 
    <a class="btn btn-default" href="/user-edit-profile">Edit My Profile</a>
    <br>
    <br>
    <br>
    <a class="btn btn-default" href="/user-delete-award">Delete My Award History</a>
    <br>
  





    
