<style>
   

    h4 {
        color: green;
    }
</style>

<div class="background">

<ul>
    <li><a href="/sign-out">Sign Out</a></li>
   
</ul>


    <h4>Welcome back {{this.employee_first_name}}!</h4>
  
    <br>



  
        <p> Are you ready to create employee recognition awards? </p>
        <p>You choose the winner, We build  and send the award certificate to the winner!</p>
      
    <br>
<br>
<br>
 

 
<div>
    <button onclick="window.location.href='/create-awards'" class="block1">CREATE AWARD<br /><br /> <p> You can create the Employee Recognition Awards here.</p> <br /></button>

    <button onclick="window.location.href='user-delete-award'" class="block1">AWARDS HISTORY<p><br />You can view your awards history and delete the previously given awards here.</p> </button>

    <button onclick="window.location.href = '/user-edit-profile'" class="block1">MY PROFILE<br /><br /><p>You can change your name and password here.</p><br /></button>

</div>



</div>


