<style>
    h1,h2 {
        color: green;
    }
 
</style>

<div class="background">

    <h2>Employee Recognition Awards</h2>
    <br>
    <p>Welcome to Crater Employee Recognition Awards!</p>
    <p>Only Authorized Personnel are allowed to continue using this site.</p>

    <br>

    <h5>
        If you are an authorized personnel, please <a href="/sign-in">SIGN IN NOW.</a>
    </h5>
    <br>
    <br>


    <h2>THANK YOU FOR VISITING US!</h2>
    <br>
    <br>
    <a href="#"><img src="ciLogo.jpg" width="200" height="200" alt=""></a>

</div>


