<div class="background">
    <h1>Employee Recognition Awards</h1>
    <br>
    <h3>Welcome to Crater Inc. Employee Recognition Awards!</h3>
    <h3>Only Authorized Personnel are allowed to continue using this site.</h3>

    <br>

    <h3>
        If you are an authorized personnel, please <a href="/sign-in">SIGN IN NOW.</a>
    </h3>
    <br>
    <br>

    <h2>THANK YOU FOR VISITING US!</h2>
    <a href="#"><img src="ciLogo.jpg" width="200" height="200" alt=""></a>
</div>

