<div class="background">
    <h3>The award has been succesfully submitted and the certificate has been sent to the recipient!</h3>
    <br />
    <br />
    <h3><a href="{{message}}"> View Certificate</a></h3>
    <br />
    <br />
    <h3>{{succesful_message}}.</h3>
    <h3>You can view your <a href="/user-delete-award">awards history here.</a></h3>
 

</div>