<div class="background">
    <h1>Welcome back to Employee Recognition Awards! {{user.userFirstName}}!</h1>
    <br>
    <p>
        <img src="certificate-sample.png" alt="Cerificate" style="float:right;width:42px;height:42px;">
        The image will float to the right of the text.
    </p>
    
 

</div>