body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h4 {
  color:red;
}


.task ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.task li {
    float: right;
}

.task li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.task li a:hover {
            background-color: #111;
        }

.image-square {
  width: 100%;
  padding-top: 100%;
  background-color: #ddd;
  background-size: cover;
}



.background {
  text-align: center;
}

.alert{
  width: 50%;
}

#createUser {
  margin-top: 15px;
}

#createDepartment {
  margin-top: 15px;
}

#body {
  padding-bottom: 12em;
}

#footer-row1 {
    padding: 1.5em 0;
    background: #232222;
    height: 5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    color: #dddddd;
    font-size: 200%;
}
.block1 {
    float: center;
    display: inline-block;
    width: 30%;
    height: 30%;
    border: none;
    background-color: #356B15;
    color: white;
    padding: 50px 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

    .block1:hover {
        background-color: #ddd;
        color: black;
    }
