body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h4 {
  color:red;
}


.image-square {
  width: 100%;
  padding-top: 100%;
  background-color: #ddd;
  background-size: cover;
}



.background {
  text-align: center;
}

.alert{
  width: 50%;
}

#createUser {
  margin-top: 15px;
}
